<p id="notice"><%= notice %></p>

<h1>Comments</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
        <td><%= comment.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


