<p id="notice"><%= notice %></p>

<h1>Photos</h1>
<% @photos.each do |photo| %>     
  <div class="col-md-3">
    <%= image_tag photo.image.url(:thumb) %><br>
    <h5><%= link_to photo.name, photo %></h5>  
    <b>By:<%= photo.user.name %></b> 
  </div>
<% end -%>
<br><br><br>


